<div class="kuwasiku">
<h1>ホテル詳細</h1>
</div>
<div class="shousai">
<%= link_to "一覧に戻る", hawaiians_path %>
<%=button_to "一覧に戻る", {controller: 'hawaiians',action:'index'},{method: :get, class: "shousai-button"} %>
</div>

<div class="hawaiian-show">
  <div class="gazou">
  <p><%= image_tag @hawaiian.image2_url, size: "800x500" if @hawaiian.image2? %></p>
  </div>
  <div class="sonota">
  
  <p>ホテル名 :<%= @hawaiian.name %></p>
  
  <p>国 :<%= @hawaiian.country %></p>
  
  <p>付近のスポット :<%= @hawaiian.city %></p>
  
  <p>ホテルURL :<%= @hawaiian.about %></p>
  
  <p>詳細 :<%= @hawaiian.more %></p>
 
  <p> 投稿者 :<%= link_to @hawaiian.user.name, user_path(@hawaiian.user.id) %></p>

  <p><%= link_to "編集する", edit_hawaiian_path(@hawaiian.id) %></p>

  </div>
</div>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @hawaiian.lat %>, lng: <%= @hawaiian.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @hawaiian.lat %>, lng: <%= @hawaiian.lng %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7bPwdQayYI27OpTTMO2LTNi5WayspZvM&callback=initMap" async defer></script>

<%= link_to "一覧に戻る", hawaiians_path %>
<%= link_to "編集する", edit_hawaiian_path(@hawaiian.id) %>
